/* Стилізація для <a> тегів всередині Paragraph */
.paragraph a {
    color: #164BDC; /* Ваш бажаний колір */
    text-decoration: none; /* Прибирає підкреслення */
  }
  

  .paragraph a:hover {
    color: #3367f6;
    transition:  0.5s ease-in-out; 
  }
  