/* Стилізація для <a> тегів всередині Paragraph */
.paragraph a {
    color: #164BDC; /* Ваш бажаний колір */
    text-decoration: none; /* Прибирає підкреслення */
  }
  
  /* Якщо хочете змінити колір при ховері */
  .paragraph a:hover {
    color: #3367f6;
  }
  